
.category-item {
    border: solid 1px #000000;
    padding: 4%;
    text-align: center;
    aspect-ratio: 5/2;
    font-size: clamp(4px, 1.5vw + 0.25rem, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category-item-name {
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
