@import 'variables';
@import 'mixins';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-neutral;
}

.panel {
    position: fixed;
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.25);
    z-index: calc($z-index-neutral + 1);
    border-top: solid 1px #333333;

    .header {
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: solid 1px #333333;

        .title {
            font-weight: 500;
            color: #333333;
        }

        .close-button {
            @include flex-center;
            font-weight: bold;
            font-size: 12px;
            line-height: 1;
            width: 24px;
            height: 24px;
            background-color: #ffffff;
        }
    }

    .content {
        height: 100%;
        padding: 10px;
    }
}
