@use 'variables';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.button {
    cursor: pointer;
    background-color: variables.$button-background-color;
    color: variables.$button-font-color;
    border: solid 2px #333333;
    font-size: 1em;
    z-index: variables.$z-index-neutral;
    box-shadow: 0 4px 8px #00000000;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: scale(1.25);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
        z-index: calc(variables.$z-index-neutral + 1);
    }

    &:active {
        transform: scale(1);
        z-index: variables.$z-index-neutral;
    }
}
