.grid-container {
    padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 400px));
    grid-gap: 10px;
}

.grid-item {
    border: solid 1px #000000;
    padding: 4%;
    text-align: center;
    aspect-ratio: 5/2;
    font-size: clamp(4px, 1.5vw + 0.25rem, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid-item-text {
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
