dialog {
    --dialog-header-height: 25px;
    --dialog-footer-height: 50px;
    padding: 0;
    min-width: 250px;
    min-height: calc(var(--dialog-header-height) + var(--dialog-footer-height));
    border: solid 2px #000000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    .dialog-container {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    .dialog-header {
        height: var(--dialog-header-height);
        background-color: #2196F3;
        padding: 5px;
        border-bottom: solid 1px black;
    }

    .dialog-body {
        flex: 1;
        padding: 5px;
    }
}
