@use 'mixins';

.container {
    @include mixins.flex-center;
    margin-top: 32px;

    .add-item-form {
        width: 30%;
        display: flex;
        flex-flow: column;
        border: solid 2px #333333;
        padding: 8px;
        background-color: #ffffff;

        .form-label {
            color: #333333;
            margin-bottom: 4px;
        }

        .form-text-input {
            padding: 4px;
            margin-bottom: 8px;
            border: solid 1px #333333;
            box-sizing: border-box;
        }

        .submit-button {
            @include mixins.flex-center;
            padding: 4px;
        }
    }
}
