header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            background: #2196F3;
        }
        &:active {
            background: #64B5F6;
        }
    }
}
